.logo {
  float: left;
  width: 30px;
  height: 30px;
}

.logogreen {
  float: left;
  width: 45px;
  height: 45px;
}
.btngreen {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background: #5bc5a7;
  color: #fff;
  text-shadow: 0 -1px 0 #318970;
}
.logo-signup {
  width: 300px;
  height: 300px;
  margin-left: 200px;
}

.logo-login {
  width: 200px;
  height: 200px;
  margin-left: 300px;
}

.form-group {
  font-size: 24px;
  line-height: 140%;
  margin: 16px 0 5px;
}
.btnorgsign {
  background-color: orange;
}
.navbarlogin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #5bc5a7;
  z-index: 99;
  border-bottom: 1px solid #48be9d;
  color: #fff;
  text-shadow: 0 -1px 0 #39a385;
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.signup-div {
  margin-top: 200px;
}

.login-div {
  margin-top: 100px;
}

.btnsignup {
  background-color: #1cc29f;
  color: #fff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
  cursor: pointer;
  font-weight: 600;
}

.appname {
  font-family: Montserrat;
  border: 0 solid;
  box-sizing: inherit;
  display: -webkit-box;
  display: flex;
  align-items: center;
}

.btnlogin {
  color: #1cc29f;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  display: block;
  font-family: Montserrat;
  cursor: pointer;
}

#btndropdown {
  background-color: #1cc29f;
  color: #fff;
  font-weight: 600;
  border: none;
}

/*Dashboard CSS*/
.bal-cell {
}

.totalbalance {
  background-color: grey;
}

#dash-center {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 100%;
  -webkit-box-shadow: 0 0 12px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgb(0 0 0 / 20%);
  display: block;
}
.dashheader {
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 60px;
  width: 538px;
  position: relative;
  z-index: 9;
  background: #eee;
  border-bottom: none;
  padding: 25px 15px 15px;
  border-bottom: 1px solid #ddd;
}

.totalbalance {
  margin: -10px -15px 0;
  padding: 15px 0 8px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: #999;
  display: block;
}

.bal-cell {
  display: inline-block;
  width: 175px;
  text-align: center;
  padding: 0 5px;
  border-left: 5px solid #ddd;
  line-height: 16px;
  font-size: 13px;
}

/*Profile page*/
.profileip {
}

.profilepic {
  margin-top: 50px;
}

.profiledata {
  margin-right: 150px;
}
.profile-div {
  margin-top: 100px;
}

/*Group*/
.browse-grouppic {
  margin-left: 200px;
}
