.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#h1{
  color: #1cc29f;
}


.btnsignup{
  background-color: #1cc29f;
  color: #fff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
  cursor: pointer;
  font-weight: 600;
}

.appname {
  font-family: Montserrat;
  border: 0 solid;
  box-sizing: inherit;
  display: -webkit-box;
  display: flex;
  webkit-box-align: center;
  align-items: center;
}

.btnlogin{
  color: #1cc29f;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  display: block;
  font-family: Montserrat;
  cursor: pointer;
}
